[submodule "dpdk"]
	path = dpdk
	url = http://172.20.2.149/sunyifang/dpdk.git
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = http://172.20.2.149/sunyifang/intel-ipsec-mb.git
[submodule "isa-l"]
	path = isa-l
	url = http://172.20.2.149/sunyifang/isa-l.git
[submodule "ocf"]
	path = ocf
	url = http://172.20.2.149/sunyifang/ocf.git
[submodule "libvfio-user"]
	path = libvfio-user
	url = http://172.20.2.149/sunyifang/libvfio-user.git
